{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy web:3000
  }
}

{$ADMIN_DOMAIN} {
  encode zstd gzip
  reverse_proxy admin:3001
}
